@model Electronic_Learning_System.Models.User

<h2> User Details</h2>

Id: @Model.DODID <br />
Password: @Model.Password <br />
ConfirmPassword: @Model.ConfirmPassword <br />
FirstName: @Model.FirstName <br />
LastName: @Model.LastName <br />
Occupation: @Model.Occupation <br />
Title: @Model.Title <br />

<a asp-action="Edit" class="btn btn-sm btn-warning"> Edit</a>
 

